.export-button
  padding: 15px 30px;
  border-radius: 8px;
  border: 0;
  cursor pointer;
  font-size 24px;
  color: #fff;
  background: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%)

